body{
    margin: 0;
    padding: 0;
}
.fail{
    color: red;
}

.success{
    color: blue;
}

#container{
    display: flex;
    align-items: center;
    margin: 20px;
}

div{
    margin-bottom: 10px;
}

label{
    display: inline-block;
    width: 70px;
    text-align: center;
}

input{
    height: 20px;
}

button{
    border: none;
    color: white;
    background-color: rgb(127, 217, 127);
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 20px;
}