<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script>
        /* Axios
        function sendPost() {
            let form = document.getElementById("form_info");
            const errorMsg = document.getElementById('errorMsg');
            //form.name.value로 가져올 수 있다
            //axios post을 이용한 통신
            axios({
                method: "post",
                url : "/form",
                data : {
                    id : form.id.value,
                    pw : form.pw.value,
                },
            }).then((res)=>{
                console.log(res.data.id, res.data.pw);
                if(res.data.id === "hyebin" && res.data.pw ==="1234"){
                    //const text = document.createTextNode("로그인 성공");
                    //console.log(text);
                    errorMsg.innerText = "로그인 성공";
                    //errorMsg.appendChild(text);
                    errorMsg.classList.add('success');
                }
                else{
                    //const text = document.createTextNode("로그인에 실패했습니다");
                    //console.log(text);
                    //console.log(errorMsg);
                    errorMsg.innerText = "로그인에 실패했습니다";
                    //errorMsg.appendChild(text);
                    errorMsg.classList.add('fail');
                }
                console.log(res.data);
            });
        }
        */
    
        /*Ajax
        function sendPost() {
            const id = $('#id');
            const pw = $('#pw');
            const errorMsg = $('#errorMsg');

        $.ajax({
             url : "/form",
             type: "POST",
             data: {
                id : id.val(),
                pw : pw.val(),

             },
             success : function (data) {
                if(data.id === "hyebin" && data.pw ==="1234"){
                    errorMsg.text("로그인 성공");
                    errorMsg.addClass('success')
                }
                else{
                    errorMsg.text("로그인에 실패했습니다");
                    errorMsg.addClass('fail');
                }

             }
        })    

        }
        */
    

        function sendPost(){
            let form = document.getElementById("form_info");
            const errorMsg = document.getElementById('errorMsg');
            fetch("/form",{
                method : 'post',
                headers : {
                    "Content-Type" : "application/json",
                },
                body : JSON.stringify({
                    id: form.id.value,
                    pw : form.pw.value,
                }),
            }).then((res) => res.json())
            .then((data) =>{
                if(data.id === "hyebin" && data.pw ==="1234"){
                    //const text = document.createTextNode("로그인 성공");
                    //console.log(text);
                    errorMsg.innerText = "로그인 성공";
                    //errorMsg.appendChild(text);
                    errorMsg.classList.add('success');
                }
                else{
                    //const text = document.createTextNode("로그인에 실패했습니다");
                    //console.log(text);
                    //console.log(errorMsg);
                    errorMsg.innerText = "로그인에 실패했습니다";
                    //errorMsg.appendChild(text);
                    errorMsg.classList.add('fail');
                }
            })
        }
    </script>
    <link rel="stylesheet" href="/static/css/practice.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <form action="post" id="form_info">
            <div>
                <label for="id">아이디</label>
                <input type="text" name="id" id="id">
            </div>
        
            <div>
                <label for="pw">비밀번호</label>
                <input type="password" name="pw" id="pw">
            </div>
        </form>
        <button type="button" onclick="sendPost()">로그인</button>
    </div>

    <div id="errorMsg"></div>
</body>
</html>