.displayx{
    display: none;
}

.display{
    display: block;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#modal{
    background-color: pink;
    padding: 20px;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    position: relative;
}

#modal h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

#closeBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: white;
    border-radius: 5px;
    color: pink;
    font-weight: 600;
}

#modal form{
    position: absolute;
    bottom: 20px;
}