<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Login</title>
</head>
<body>
    <section>
        <form action="/login" method="post" id="loginForm">
            <div>
                <label for="userid">아이디</label>
                <input type="text" name="userid" id="userid">
            </div>
            <div>
                <label for="userpw">비밀번호</label>
                <input type="password" name="userpw" id="userpw">
            </div>
            <button type="button" onclick="loginFunc()">로그인</button>
        </form>
        <!--<p id="again" class="displayX">다시 입력해주세요</p>-->
    </section>
    <script src="/static/js/login.js">
    </script>
</body>
</html>