<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function onDynamicUpload(){
            let form  = document.getElementById('dynamic_form');

            axios({
                method: "post",
                url : "/dynamicUpload",
                data : {
                    file : form.dynamicfile.value
                }   
            }).then((res)=>{
                const dynamicImg = document.getElementById('dynamicImg');
                dynamicImg.setAttribute("src", res.data.path);
            })
        }
    </script>
    <title>Form</title>
</head>
<body>
    <form action="/join" method="post" enctype="multipart/form-data" id="dynamic_form">
        <fieldset>
            <legend>개인 정보</legend>
            <div>
                <label for="id">아이디 : </label>
                <input type="text" name="id" id="id">
            </div>
            <div>
                <label for="pw">비밀번호 : </label>
                <input type="password" name="pw" id="pw">
            </div>
            <div>
                <label for="username">이름</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="age">나이</label>
                <input type="number" name="age" id="age">
            </div>
        </fieldset>
        <input type="file" name="userprofile" id="userprofile">
        <button>리셋</button>
        <button>회원가입</button>
    </form>

    
</body>
</html>