<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Board</title>
</head>
<body>
    <h1>게시판</h1>
    <table>
        <tr>
            <th>No</th>
            <th>작성자</th>
            <th>내용</th>
        </tr>
        <tr th:each="content:${contents}">
            <td th:text="${content.getNo()}"></td>
            <td th:text="${content.getWriter()}"></td>
            <td th:text="${content.getContent()}"></td>
            <td>  <button th:text="수정" onclick="goEdit(this.value)" th:value="${content.getId()}"></button></td>
            <td>
                <button th:text="삭제" onclick="deleteWrite(this.value)" th:value="${content.getId()}"></button>
            </td>

        </tr>
    </table>
    <button onclick="goWrite()">글 쓰기</button>

    <form id="writeForm" method="get" action="/write">
    </form>
    <form id="editForm" method="post" action="/goEdit" style="display:none">
        <input type="number" name="id">
    </form>
    <form id="deleteForm" method="post" action="/deleteContent" style="display:none">
        <input type="number" name="id">
    </form>
    <script>
        function goWrite(){
            let form = document.getElementById("writeForm");
            form.submit();
        }

        function goEdit(value){

            let form = document.getElementById("editForm");
            form.id.value = value;
            form.submit();
            console.log(value);
        }

        function deleteWrite(value){
        let confirm = window.confirm("정말로 삭제하시겠습니까?")
        if(confirm){
                            let form = document.getElementById("deleteForm");
                form.id.value = value;
                form.submit();
        }
        }
    </script>
</body>
</html>