<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Edit</title>
</head>
<body>
  <form id="form_edit" method="post" action="/nicknameEdit">
    <div>
      <label>닉네임</label>
      <input type="text" th:value="${userNickname}" name="userNickname">
        <input type="text" th:value="${userId}" name="userId" style="display:none">
        <button onclick="submit()">수정하기</button>
    </div>
  </form>
<script>
    function submit(){
        let editForm = document.getElementById('form_edit');
        const useNicknameValue = editForm.userNickname.value;
        const userIdValue = editForm.userId.value;
        editForm.submit()
    }

</script>
</body>
</html>